:root {
  --1-color-modes-colors-background-bg-secondary-subtle: rgba(253, 253, 253, 1);
  --1-color-modes-colors-border-border-secondary: rgba(233, 234, 235, 1);
  --1-color-modes-colors-foreground-fg-disabled-subtle: rgba(213, 215, 218, 1);
  --1-color-modes-colors-text-text-primary-900: rgba(24, 29, 39, 1);
  --1-color-modes-colors-text-text-secondary-700: rgba(65, 70, 81, 1);
  --2-radius-radius-xl: 12px;
  --3-spacing-spacing-md: 8px;
  --3-spacing-spacing-none: 0px;
  --3-spacing-spacing-xs: 4px;
  --3-spacing-spacing-xxs: 2px;
  --text-sm-semibold-font-family: "Inter", Helvetica;
  --text-sm-semibold-font-size: 14px;
  --text-sm-semibold-font-style: normal;
  --text-sm-semibold-font-weight: 600;
  --text-sm-semibold-letter-spacing: 0px;
  --text-sm-semibold-line-height: 20px;
  --text-xs-medium-font-family: "Inter", Helvetica;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-font-style: normal;
  --text-xs-medium-font-weight: 500;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 18px;
  --text-xs-regular-font-family: "Inter", Helvetica;
  --text-xs-regular-font-size: 12px;
  --text-xs-regular-font-style: normal;
  --text-xs-regular-font-weight: 400;
  --text-xs-regular-letter-spacing: 0px;
  --text-xs-regular-line-height: 18px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
}
